body    
{background-color: rgb(14, 14, 14);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
   color: rgba(35, 217, 230, 0.842);
text-align: center;
line-height: 1200%;
text-decoration: underline;}

.Tobias
{font-family: comic sans ms; 
    color: aquamarine;
text-align: center;
text-decoration: none;} 

.embre
{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: blueviolet;
text-align: left;}

.Napoli     
{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(46, 165, 42);
text-align: justify;
line-height: 60%;}